h1 {
    color: rgb(73,73,73);
    font-size: normal;
}

article.sound {
    width: 600px;
    margin: 50px auto;
    font-size: 0;
}

article.sound .sound-content {
    width: 300px;
    display: inline-block;
    font-size: 18px;
}

article.sound .sound-content img {
    border-radius: 50%;
}