@import "base";
@width: 600px;
@sound-content-width: 200px;
@transition-time: .3s;

h1 {
    color: rgb(73, 73, 73);
    font-weight: normal;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid white;
    box-shadow: inset 0 -1px #eee;
}

article {
    width: @width;
    margin: 50px auto;
    font-size: 0;
    .sound {
        width: @width / 2;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        position: relative;
        cursor: pointer;
        .avator {
            display: block;
            margin-top: 100px;
            cursor: pointer;
            h2 {
                font-weight: normal;
                color: orange;
            }
            img {
                border-radius: 100%;
                overflow: hidden;
                display: inline-block;
                width: 100px;
                height: 100px;
            }
        }
        .sound-content {
            position: absolute;
            width: @sound-content-width;
            height: 100px;
            left: 50%;
            margin-left: -@sound-content-width / 2;
            top: -10px;

            svg {
                position: absolute;
                top: 0;
                left: 0;

                path, polygon {
                    fill: #fff;
                    stroke: orange;
                    stroke-width: 6px;
                }
            }

            p {
                position: relative;
                margin: 0;
                font-size: 14px;
            }

        }
        .avator:hover + .sound-content {
            opacity: 1;
            transform: translate(0, 0);
        }

        &:first-child {
            .sound-content {
                left: 10px;
                padding: 20px 38px 0 20px;

                svg path, p {
                    opacity: 0;
                    transform: scale(.3);
                    transform-origin: center;
                    transition: opacity @transition-time ease,
                                transform @transition-time ease;
                }
            }

            .avator:hover + .sound-content {
                svg {
                    path {
                        opacity: 1;
                        transform: scale(1);
                    }

                    #path1 {
                        transition-delay: 0s;
                    }

                    #path2 {
                        transition-delay: @transition-time / 3;
                    }

                    #path3 {
                        transition-delay: @transition-time / 3 * 2;
                    }

                    #path4 {
                        transition-delay: @transition-time;
                    }
                }

                p {
                    opacity: 1;
                    transform: scale(1);
                    transition-delay: @transition-time;
                }
            }
        }

        &:last-child {
            .sound-content {
                padding: 10px 12px 18px;

                svg polygon, p {
                    stroke-dasharray: 1500;
                    stroke-dashoffset: -1500;
                    opacity: 0;
                    transition: all .8s ease;
                }
            }

            .avator:hover + .sound-content {
                svg polygon, p {
                    stroke-dashoffset: 0;
                    opacity: 1;
                }

                p {
                    transition-delay: .3s;
                }
            }
        }
    }

}